<body>
  <canvas id="c"></canvas>
  <h1>wrongpass</h1>
  <div class="glass">
    <div class="shine"></div>
    <a (onClick)="signInWithGoogle()">
    <div class="img-google">
      <img src=".//src/assets/google.png/" />
    </div>
  </a>
  <a (click)="singInWithFacebook()">
    <div class="img-facebook">
      <img src=".//src/assets/facebook.png" />
    </div>
    </a>
  </div>
  <!-- <script defer>
    (v = document.querySelector("#c")),
      (c = v.getContext("2d")),
      (l = 2.5),
      (r = (i) => Math.random() * i);
    (window.onresize = (q) => {
      (s = []),
        (w = innerWidth),
        (h = Math.max(
          document.body.scrollHeight,
          document.body.offsetHeight,
          document.documentElement.clientHeight,
          document.documentElement.scrollHeight,
          document.documentElement.offsetHeight
        )),
        (n = Math.random() * 100 + w / 5);
      v.width = w;
      v.height = h;
      for (i = 0; i < n; i++) {
        s.push({
          c: `rgb(${r(255)},${r(255)},${r(255)})`,
          x: r(w),
          y: r(h),
          v: r(3) + 1,
        });
      }
    })();
    setInterval((e) => {
      c.clearRect(0, 0, w, h);
      for (b of s) {
        c.shadowBlur = 10;
        c.shadowColor = b.c;
        c.fillStyle = b.c;
        c.beginPath();
        c.arc(b.x, b.y, l, 0, 7);
        c.fill();
        b.y -= b.v;
        b.y = b.y < -l ? h : b.y;
      }
    }, 50);
  </script> -->
</body>
