.head-items{
    text-align: center;
    padding: 0px 0px 15px 0px;
}




/* CSS */
.button-27 {
  appearance: none;
  background-color: #000000;
  border: 2px solid #1A1A1A;
  border-radius: 15px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: Roobert,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  font-size: 13px;
  font-weight: 600;
  line-height: normal;
  margin: 0;
  min-height: 25px;
  min-width: 0;
  outline: none;
  padding: 1px 8px 4px 8px;
  text-align: center;
  text-decoration: none;
  transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  margin: 10px 0 0 2em;
  will-change: transform;
}

.button-27:disabled {
  pointer-events: none;
}

.button-27:hover {
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  transform: translateY(-2px);
}

.button-27:active {
  box-shadow: none;
  transform: translateY(0);
}



/* CSS */
.button-29 {
  align-items: center;
  appearance: none;
  background-image: radial-gradient(100% 100% at 100% 0, #FB845D 0, #F25564 100%);
  border: 0;
  border-radius: 6px;
  box-shadow: rgba(45, 35, 66, .4) 0 2px 4px,rgba(45, 35, 66, .3) 0 7px 13px -3px,rgba(58, 65, 111, .5) 0 -3px 0 inset;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  font-family: "JetBrains Mono",monospace;
  height: 38px;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: box-shadow .15s,transform .15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow,transform;
  font-size: 18px;
}

.fa-upload:before{
  padding: 0 0 0 5px;
}
.fa-download:before{
  padding: 0 0 0 5px;
}
.button-29:focus {
  box-shadow: #3c4fe0 0 0 0 1.5px inset, rgba(45, 35, 66, .4) 0 2px 4px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
}

.button-29:hover {
  box-shadow: rgba(45, 35, 66, .4) 0 4px 8px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #F25564 0 -3px 0 inset;
  transform: translateY(-2px);
}

.button-29:active {
  box-shadow: #3c4fe0 0 3px 7px inset;
  transform: translateY(2px);
}

/* dowload button */
/* CSS */
.download-btn {
  align-items: center;
  appearance: none;
  background-image: radial-gradient(100% 100% at 100% 0, #bfc9c2 0, #060606 100%);
  border: 0;
  border-radius: 6px;
  box-shadow: rgba(45, 35, 66, .4) 0 2px 4px,rgba(45, 35, 66, .3) 0 7px 13px -3px,rgba(58, 65, 111, .5) 0 -3px 0 inset;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  font-family: "JetBrains Mono",monospace;
  height: 34px;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 5px;
  padding-right: 5px;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: box-shadow .15s,transform .15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow,transform;
  font-size: 15px;
}

.download-btn:focus {
  box-shadow: #232324 0 0 0 1.5px inset, rgba(45, 35, 66, .4) 0 2px 4px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #1b1b1b 0 -3px 0 inset;
}

.download-btn:hover {
  box-shadow: rgba(45, 35, 66, .4) 0 4px 8px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #1b1b1b 0 -3px 0 inset;
  transform: translateY(-2px);
}

.download-btn:active {
  box-shadow: #1b1b1b 0 3px 7px inset;
  transform: translateY(2px);
}



/* CSS */
.button-30 {
  align-items: center;
  appearance: none;
  background-image: radial-gradient(100% 100% at 100% 0, #d9d9d9 0, #ffffff 100%);
  border: 0;
  border-radius: 6px;
  box-shadow: rgba(45, 35, 66, .4) 0 2px 4px,rgba(45, 35, 66, .3) 0 7px 13px -3px,rgba(58, 65, 111, .5) 0 -3px 0 inset;
  box-sizing: border-box;
  color: #000;
  cursor: pointer;
  display: inline-flex;
  font-family: "JetBrains Mono",monospace;
  height: 34px;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 5px;
  padding-right: 5px;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: box-shadow .15s,transform .15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow,transform;
  font-size: 15px;
  margin: 10px 0 0 10px;
}

.button-30:focus {
  box-shadow: #ffffff 0 0 0 1.5px inset, rgba(45, 35, 66, .4) 0 2px 4px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #1b1b1b 0 -3px 0 inset;
}

.button-30:hover {
  box-shadow: rgba(234, 233, 235, 0.4) 0 4px 8px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #ffffff 0 -3px 0 inset;
  transform: translateY(-2px);
}

.button-30:active {
  box-shadow: #ffffff 0 3px 7px inset;
  transform: translateY(2px);
}

@media (max-width:600px) {
  label{

    margin: 0;
  }
  input{
    display: flex;
    flex-direction: column;
    margin:0;
    box-sizing: border-box;
    border: none;
    border-bottom: 2px solid rgb(54, 50, 50);
    background-color: white;
  }
  .webhide>.toDateLabel{
    margin: 0 0 0 10px0;
  }
  /* input>#date2{
    margin: 0 0 0 10px !important;
  } */
  .button-27{
    margin: 10px 0 0 11em;
  }
}
.download{
  display: flex;
  justify-content: center;
}
.download>button{
  margin: 10px 0 0 10px;
}
.fileUploadInpur{
  width: 13.6em !important;

}

.progress-container {
  width: 100px;
  height: 5px;
  background-color: rgba(0, 0, 0, 0.1);
  position: relative;
  top: -10px;
  left: 5px;
}

.progress-bar {
  height: 100%;
  background-color: #007bff;
  width: 0%;
  transition: width 0.3s ease-in-out;
}

.upload-container {
  display: flex;
  align-items: center;
}

.progress-container {
  position: relative;
  display: flex;
  align-items: center;
  margin-left: 10px;
  width: 200px;
  height: 20px;
  background-color: #f5f5f5;
  border-radius: 50px;
  overflow: hidden;
  margin:25px 0 0 5px;
}

.progress-value {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background-color: #22c100;
  border-radius: 50px;
  animation: progress 3s;
}

.progress-text {
  margin-left: auto;
  color: #555;
  font-size: 10px;
  font-weight: bold;
}

.cursor{
  cursor: not-allowed;
}

.progress{
  align-self: center;
  max-width: 138px;
  margin: 10px 0 0 16px;
}

@keyframes progress {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}

.download-loader>svg{
  height: 25px;
  margin: 15px 0 0 10px;
}
.noEvent
{
  text-align: center;
}
/* *********************** */

.container {
	width: 125px;
	height: 60px;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}

.circle {
	width: 15px;
	height: 15px;
	position: absolute;
	border-radius: 50%;
	background-color: #000000;
	left: 15%;
	transform-origin: 50%;
	animation: circle 0.5s alternate infinite ease;
}

@keyframes circle {
	0% {
		top: 60px;
		height: 5px;
		border-radius: 50px 50px 25px 25px;
		transform: scaleX(1.7);
	}
	40% {
		height: 20px;
		border-radius: 50%;
		transform: scaleX(1);
	}
	100% {
		top: 0%;
	}
}

.circle:nth-child(2) {
	left: 45%;
	animation-delay: 0.2s;
}

.circle:nth-child(3) {
	left: auto;
	right: 15%;
	animation-delay: 0.3s;
}

.shadow {
	width: 20px;
	height: 4px;
	border-radius: 50%;
	background-color: rgba(0, 0, 0, 0.5);
	position: absolute;
	top: 62px;
	transform-origin: 50%;
	z-index: -1;
	left: 15%;
	filter: blur(1px);
	animation: shadow 0.5s alternate infinite ease;
}

@keyframes shadow {
	0% {
		transform: scaleX(1.5);
	}
	40% {
		transform: scaleX(1);
		opacity: 0.7;
	}
	100% {
		transform: scaleX(0.2);
		opacity: 0.4;
	}
}

.shadow:nth-child(4) {
	left: 45%;
	animation-delay: 0.2s;
}

.shadow:nth-child(5) {
	left: auto;
	right: 15%;
	animation-delay: 0.3s;
}
