<div class="main-wrap">
  <!-- <div class="heading">
        <span>Casino Game List</span>
    </div> -->
  <ul class="input-list">
    <!-- <li>
      <label for="perio">From Date</label>
    </li> -->
    <li class="blockdis">
      
      <div class="webhide1">
        <label for="perio">From Date</label>
        <input
          id="date1"
          name="date"
          id="startDate"
          class="cal-input"
          type="text"
          placeholder="YYYY-MM-DD"
          bsDatepicker
          [(ngModel)]="selectfromdate"
          [bsConfig]="{
            dateInputFormat: 'DD-MM-YYYY',
            containerClass: 'theme-default',
            isAnimated: true
          }"
          class="mx-input"
        />

        <!-- <input
          id="startTime"
          class="time-input disable"
          type="text"
          placeholder="00:00"
          maxlength="5"
        /> -->
      </div>
      <div class="webhide2">
      <label class="toDateLabel">to Date</label>
      <!-- <input id="endDate" class="cal-input" type="text" placeholder="YYYY-MM-DD" autocomplete="off" /> -->
      <input
        id="date2"
        name="date"
        id="endDate"
        class="cal-input"
        type="text"
        placeholder="YYYY-MM-DD"
        bsDatepicker
        [(ngModel)]="selecttodate"
        [bsConfig]="{
          dateInputFormat: 'DD-MM-YYYY',
          containerClass: 'theme-default',
          isAnimated: true
        }"
        class="mx-input"
      />
    </div>
      <!-- <input
        id="endTime"
        class="time-input disable"
        type="text"
        placeholder="00:00"
        maxlength="5"
      /> -->
    </li>
    <li>
      <ng-select
        name="sortCondition"
        id="sortCondition"
        (change)="onchange($event)"
        [(ngModel)]="searchTerm"
      >
        <ng-option value="" selected="selected">Select event</ng-option>
        <ng-option
          *ngFor="let event of listevent?.data"
          [value]="event.eventName"
          [value]="event.eventId"
          >{{ event.eventName }} --- {{ event.dateTime | date }}
          {{ event.eventId }}</ng-option
        >
      </ng-select>
    </li>
    <button class="button-27" role="button" (click)="getitemlist()">
      Get Data
    </button>
  </ul>
  <table class="table table-striped table-responsive">
    <thead>
      <tr>
        <th class="head-items">Event ID</th>
        <th class="head-items">Event Name</th>
        <th class="head-items">Runner Name</th>
        <th class="head-items">Date</th>
        <th class="head-items">Action</th>
      </tr>
    </thead>
    <tbody>
      <tr
        *ngFor="
          let game of gamelist | paginate : { itemsPerPage: 10, currentPage: p }
        "
      >
        <td style="text-align: center">{{ game.eventId }}</td>
        <td style="text-align: center">{{ game.eventName }}</td>
        <td style="text-align: center; padding: 15px">{{ game.runnerName }}</td>
        <td style="text-align: center">
          {{ game.eventDate | date : "yyyy-MM-dd HH:mm:ss" }}
        </td>
        <!-- <td> <i class="fa fa-check-circle fa-2x"></i></td> -->
        <!-- <td><i class="fa fa-play" aria-hidden="true"></i></td> -->
        <td class="download" style="text-align: center">
          <input type="file" class="fileUploadInpur" *ngIf="game.videoPath==null" (change)="onSelectFile($event,game.selectionId,game.eventId,game.videoPath)">
          <button class="button-30" *ngIf="game.videoPath==null" (click)="uploadfile()">upload<i class="fa fa-upload" aria-hidden="true"></i></button>
          <!-- <button *ngIf="game.videoPath==null" class="button-29" role="button" (click)="upload(game.selectionId)">Upload <i class="fa fa-upload" aria-hidden="true"></i></button> -->
          <button class="download-btn" *ngIf="game.videoPath !== null" (click)="download(game.videoPath)">
            Download <i class="fa fa-download" aria-hidden="true"></i>
          </button>
        </td>
        <!-- <tr><td type="hidden" [value]="game.selectionId"></td></tr> -->
        <!-- <td style="text-align: center"><button class="voidbtn"  title="Void">V</button></td> -->
      </tr>
    </tbody>
  </table>
  <pagination-template
    *ngIf="gamelist && gamelist.length > 10"
    #pagination="paginationApi"
    (pageChange)="p = $event"
  >
    <ul id="pageNumberContent" class="pages">
      <li id="prev">
        <a *ngIf="pagination.isFirstPage(); else prevTemp" class="disable"
          >Prev</a
        >
        <ng-template #prevTemp>
          <a (click)="pagination.previous()">Prev</a>
        </ng-template>
      </li>
      <ng-container *ngFor="let page of pagination.pages">
        <li id="pageNumber">
          <a
            (click)="pagination.setCurrent(page.value)"
            *ngIf="pagination.getCurrent() != page.value"
            class="btn"
            >{{ page.value }}
          </a>
          <a
            *ngIf="pagination.getCurrent() == page.value"
            class="select"
            style="pointer-events: none"
            >{{ page.value }}
          </a>
        </li>
      </ng-container>

      <!-- <li id="pageNumber"><a href="javascript:void(0);">2</a></li> -->
      <li id="next">
        <a *ngIf="pagination.isLastPage(); else nextTemp" class="disable"
          >Next</a
        >
        <ng-template #nextTemp>
          <a (click)="pagination.next()">Next</a>
        </ng-template>
      </li>
    </ul>
  </pagination-template>
</div>
